@font-face {
    font-family: 'fontGame';
    src: url('../assets/Pony.ttf')
}

.game {
    background-image: url('../assets/bgGame.png');
    width: 100%;
    height: 100%;
    position: fixed;
    font-family: fontGame;
}

.btnGame {
    width: 200px;
    height: 200px;
    font-size: 50px;
    background-color: rgb(82, 108, 238);
    color: white;
    border: 5px solid rgb(82, 238, 98);
    border-radius: 20px;
}

.btnPlay {
    margin-top: 5px;
    padding: 15px 30px;
    color: white;
    background-color: rgb(82, 238, 98);
    border: 1px solid rgb(82, 238, 98);
    border-radius: 10px;
    font-size: 24px;
}

